cscope.*
*.swap
.*.sw[po]
.sw[po]
*~
*.orig
*.diff
*.patch
*.rej
*.[1-9].gz
*.o
*.[psS]o
*.pico
lib*.so*
*.a
*.so.*
*.d
!etc/*.d
.depend
*.gcno
*.gcda
TAGS
tags
GPATH
GRTAGS
GSYMS
GTAGS
\#*#
CVS
obj
!/.gitignore
.gitignore
.svn
*.worldstone.log
.worldstone*
src/usr.bin/mdocml/man/*.7
src/etc/passwd
src/etc/pwd.db
src/etc/spwd.db
src/releasetools/image
src/releasetools/kernel
src/releasetools/revision
src/share/zoneinfo/builddir
src/external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-no-thu
src/external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-pure-v
src/external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-return
src/external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-this-a
src/external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-vdtors
src/external/bsd/llvm/dist/llvm/test/Verifier/bitcast-address-space-through-constant-inttoptr-inside-gep-i
src/lib/libc/compat__*
.gdbinit

# Build files
obj.i386/
build/
*.img

# Symlinks generated during building
src/sys/arch/i386/include/fpu.h
src/sys/arch/i386/include/stackframe.h
